[user]
	name = Pranav RK
	email = pranav.r@rently.com
	signingkey = /home/rently/.ssh/github-signing.pub
[core]
	editor = nvim
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	autocrlf = input
  pager = delta
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictystyle = diff3
[help]
	autocorrect = 20
[delta]
  navigate = true # use n and N to move between diff sections
  light = false   # set to true for light background
[alias]
	st = status
	ci = commit
  cm = commit -m
  ca = commit --amend
  br = branch
	co = checkout
	ssb = status -sb
	d = diff
	dt = difftool
[diff]
  colorMoved = default
[difftool]
	prompt = true
[pull]
	rebase = true
[fetch]
	prune = true
[includeIf "gitdir:~/personal/"]
    path = ~/personal/.gitconfig
[init]
	defaultBranch = main
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[log]
	showSignature = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/rently/.ssh/allowed_signers
