* {
  font-family: 'Jetbrains Mono Nerd Font';
  font-weight: bold;
  font-size: 95%;
}

window#waybar {
  background-color: #282828;
}

window#waybar.hidden {
  opacity: 0.5;
}

/*-----module groups----*/
.modules-right {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.modules-center {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.modules-left {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

#workspaces button {
  padding: 2px;
  color: #fff;
  background-color: #000;
  margin-right: 5px;
}

#workspaces button.active {
  color: #000;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
}

#workspaces button.focused {
  color: #d8dee9;
}

#workspaces button.urgent {
  color: #11111b;
  border-radius: 10px;
}

#workspaces button:hover {
  color: #000;
  background-color: #fff;
  border-radius: 15px;
}

#pulseaudio,
#pulseaudio#microphone {
  color: #fff;
  border-radius: 10px;
}

#clock,
#battery,
#network,
#wireplumber,
#mode,
#tray,
#idle_inhibitor,
#bluetooth,
#workspaces,
#custom-notification,
#idle_inhibitor {
  color: #fff;
  padding: 0px 10px;
  border-radius: 10px;
}
#custom-exit {
  color: #f00;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
